<div *ngIf="isLoading" class="loading-spinner">
    <p>Loading cars...</p>
</div>

<div *ngIf="!isLoading && errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
</div>

<div *ngIf="!isLoading && !errorMessage">
    <div *ngIf="cars.length === 0" class="no-cars">
        <p>No cars available at the moment</p>
    </div>

    <div *ngIf="filteredCars.length === 0 && cars.length > 0" class="no-cars">
        <p>No cars match your search criteria.</p>
    </div>

    <div *ngIf="filteredCars.length > 0" class="cardBox">
        <div *ngFor="let car of filteredCars">
            <div class="card" style="width: 18rem;">
                <img [src]="car.frotView ? car.frotView : 'default-image-url.jpg'" class="card-img-top car-image"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ car.status }}</h5>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{ car.color }}</p>
                        <p class="card-text">{{ car.yearOfManufacture }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{ car.pricePerDay | currency }}</p>
                        <p class="card-text">View Count: {{ car.viewCount }}</p>
                    </div>
                    <button class="view-button" (click)="viewCarDetails(car)">View</button>
                </div>
            </div>
        </div>
    </div>