<div class="cardBox">
    <!-- Brand Card -->
    <div class="card">
        <div>
            <div class="numbers">{{ brands }}</div>
            <div class="cardName">
                {{ brands === 1 ? 'Brand' : 'Brands' }}
            </div>
        </div>
    </div>

    <!-- Model Card -->
    <div class="card">
        <div>
            <div class="numbers">{{ models }}</div>
            <div class="cardName">
                {{ models === 1 ? 'Model' : 'Models' }}
            </div>
        </div>
    </div>

    <!-- Car Card -->
    <div class="card">
        <div>
            <div class="numbers">{{ cars }}</div>
            <div class="cardName">
                {{ cars === 1 ? 'Car' : 'Cars' }}
            </div>
        </div>
    </div>

    <!-- Customer Card -->
    <div class="card">
        <div>
            <div class="numbers">{{ customers }}</div>
            <div class="cardName">
                {{ customers === 1 ? 'Customer' : 'Customers' }}
            </div>
        </div>
    </div>
</div>
