<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h2 class="mb-0">{{ isEditMode ? 'Update Car' : 'Add New Car' }}</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- Model -->
          <div class="col-md-4 mb-3">
            <label for="modelId" class="form-label">Model</label>
            <select class="form-select" id="modelId" formControlName="modelId" required>
              <option value="" disabled selected>Select a Model</option>
              <option *ngFor="let model of models" [value]="model.modelId">
                {{ model.name }}
              </option>
            </select>
          </div>
          <!-- License Plate -->
          <div class="col-md-4 mb-3">
            <label for="licensePlate" class="form-label">License Plate</label>
            <input type="text" class="form-control" id="licensePlate" formControlName="licensePlate"
              placeholder="Enter license plate" required>
          </div>
          <!-- Color -->
          <div class="col-md-4 mb-3">
            <label for="color" class="form-label">Color</label>
            <input type="text" class="form-control" id="color" formControlName="color" placeholder="Enter color"
              required>
          </div>
          <!-- Status -->
          <div class="col-md-4 mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" formControlName="status" required>
              <option value="0">Inactive</option>
              <option value="1">Active</option>
            </select>
          </div>
        </div>

        <div class="row">
          <!-- Price per Day -->
          <div class="col-md-4 mb-3">
            <label for="pricePerDay" class="form-label">Price per Day</label>
            <input type="number" class="form-control" id="pricePerDay" formControlName="pricePerDay"
              placeholder="Enter price per day" required min="0.01" step="0.01">
          </div>
          <!-- Current Mileage -->
          <div class="col-md-4 mb-3">
            <label for="currentMileage" class="form-label">Current Mileage (km)</label>
            <input type="number" class="form-control" id="currentMileage" formControlName="currentMileage"
              placeholder="Enter mileage" required min="0">
          </div>
          <!-- Registration Number -->
          <div class="col-md-4 mb-3">
            <label for="registrationNumber" class="form-label">Registration Number</label>
            <input type="text" class="form-control" id="registrationNumber" formControlName="registrationNumber"
              placeholder="Enter registration number" required>
          </div>
        </div>

        <div class="row">
          <!-- Year of Manufacture -->
          <div class="col-md-4 mb-3">
            <label for="yearOfManufacture" class="form-label">Year of Manufacture</label>
            <input type="number" class="form-control" id="yearOfManufacture" formControlName="yearOfManufacture"
              placeholder="Enter year of manufacture" required min="1900" max="2024">
          </div>

          <!-- View Count -->
          <div class="col-md-4 mb-3">
            <label for="tankCapacity" class="form-label">Tank Capacity</label>
            <input type="text" class="form-control" id="tankCapacity" formControlName="tankCapacity"
              placeholder="Enter Tank Capacity" required>
          </div>
        </div>


        <!-- Image Upload Section -->
        <div class="row">
          <div class="col-md-6 mb-3 form-group">
            <label for="imageUrl">Front View</label>
            <input id="frotView" formControlName="frotView" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3 form-group">
            <label for="imageUrl">Back View</label>
            <input id="imageUrl" formControlName="backView" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3 form-group">
            <label for="imageUrl">Side View</label>
            <input id="imageUrl" formControlName="sideView" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3 form-group">
            <label for="imageUrl">Interior</label>
            <input id="imageUrl" formControlName="interior" class="form-control" />
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-end">
            <button type="button" class="btn btn-primary px-4 m-2" (click)="onClose()">Close</button>
            <button type="submit" class="btn btn-primary px-4" [disabled]="addCarForm.invalid">
              {{ isEditMode ? 'Update' : 'Submit' }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>