<nav class="navbar navbar-light bg-light">
    <ul>
        <h3>Manage payments</h3>
    </ul>
    <ul class="flex-grow-1">
        <input class="form-control" type="search" [(ngModel)]="searchQuery" placeholder="Search" aria-label="Search" (input)="filterPayments()">
    </ul>
</nav>

<div *ngIf="isLoading" class="loading-spinner">
    <p>Loading payments...</p>
</div>

<div *ngIf="!isLoading && errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
</div>

<div *ngIf="!isLoading && !errorMessage">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Payment ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Payment Date</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of payments">
                <td>{{payment.paymentId}}</td>
                <td>{{payment.amount}}</td>
                <td>{{payment.paymentDate | date}}</td>
                <td>{{payment.paymentMethod}}</td>
                <td>{{payment.paymentStatus}}</td>
                <td>
                    <!-- <span><button class="btn btn-primary m-2 p-2"><i class="bi bi-eye-fill" (click)="PayNow(payment.paymentId)"></i></button></span> -->
                    <span><button class="btn btn-danger m-2 p-2" (click)="deletePayment(payment.paymentId)"><i class="bi bi-trash3-fill"></i></button></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"><img
            src="https://img.icons8.com/ios-filled/50/000000/long-arrow-left.png" alt=""></button>
        <span>Page {{ currentPage }} of {{ totalPages() }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages()"><img
            src="https://img.icons8.com/ios-filled/50/000000/long-arrow-right.png" alt=""></button>
      </div>
</div>
