<nav class="navbar navbar-light bg-light">
    <ul>
        <h3>Manage Rentals</h3>
    </ul>
    <ul class="flex-grow-1">
        <input class="form-control" type="search" [(ngModel)]="searchQuery" placeholder="Search" aria-label="Search"
            (input)="filterRentals()">
    </ul>
</nav>

<div *ngIf="isLoading" class="loading-spinner">
    <p>Loading Rentals...</p>
</div>

<div *ngIf="!isLoading && errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
</div>

<div *ngIf="!isLoading && !errorMessage">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rental Id</th>
                <th scope="col">Car Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Rental Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rental of paginatedRentals">
                <td>{{ rental.rentalId }}</td>
                <td>{{ rental.Car }}</td>
                <td>{{ rental.userName }}</td>
                <td>{{ rental.totalAmount }}</td>
                <td>{{ rental.rentalStartDate }}</td>
                <td>{{ rental.rentalEndDate }}</td>
                <td>{{ rental.rentalStatus }}</td>
                <td>
                    <div *ngIf="rental.rentalStatus === 'Pending'">
                        <button class="btn btn-success" (click)="acceptRental(rental.rentalId)">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button class="btn btn-danger m-2" (click)="declineRental(rental.rentalId)">
                            <i class="bi bi-x-circle-fill"></i>
                        </button>
                    </div>

                    <div *ngIf="rental.rentalStatus === 'Booked'">
                        <button class="btn btn-primary m-2 p-2" (click)="payRental(rental.rentalId)">
                            <i class="bi bi-credit-card"></i>
                        </button>
                    </div>
                    <div *ngIf="rental.rentalStatus === 'Rented'">
                        <button class="btn btn-primary m-2 p-2" (click)="Return(rental.rentalId)">
                            <i class="bi bi-arrow-left"></i>
                        </button>
                    </div>
                    <div *ngIf="rental.rentalStatus === 'Returned' || rental.rentalStatus === 'Declined'">
                        <button class="btn btn-danger m-2 p-2" (click)="deleteRental(rental.rentalId)">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"><img
                src="https://img.icons8.com/ios-filled/50/000000/long-arrow-left.png" alt=""></button>
        <span>Page {{ currentPage }} of {{ totalPages() }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages()"><img
                src="https://img.icons8.com/ios-filled/50/000000/long-arrow-right.png" alt=""></button>
    </div>
</div>