<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://th.bing.com/th?id=OIP.9P-3eAqg_Q_vJO7nS3QKawHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
            width="60" height="40" class="d-inline-block align-top m-2" alt="">
        WayToGo Car Rentals
    </a>
    <div class="d-flex">
        <div class="dropdown-center">
            <button type="button" class="btn dropdown-toggle bg-danger" data-bs-toggle="dropdown" data-bs-display="static"
                aria-expanded="false">
                <i class="bi bi-person-circle" style="font-size: 30px; cursor: pointer;"></i>
            </button>
            <div class="dropdown-menu p-4">
                <div class="mb-3">
                    <button class="btn btn-primary ml-auto" (click)="OnLogOut()"> Logout </button>
                </div>
            </div>
        </div>
    </div>
</nav>