<div *ngIf="carDetails" class="car-details-container">
  <!-- Image Gallery Section -->
  <div class="image-gallery">
    <!-- Large Image Container -->
    <div class="large-image-container">
      <img [src]="largeImage" alt="Large Car View" class="large-image">
    </div>

    <!-- Thumbnails Section -->
    <div class="image-thumbnails">
      <img *ngFor="let image of carImages" [src]="image" alt="Car Image" class="thumbnail-image"
        (click)="changeImage(image)">
      <img [src]="largeImage" alt="Current Large Image" class="thumbnail-image thumbnail-large"
        (click)="changeImage(largeImage)">
    </div>
  </div>

  <!-- Car Info Section -->
  <div class="car-info">
    <h2>{{ carDetails.color }} - {{ carDetails.status }}</h2>
    <div class="car-details-list">
      <p><strong>License Plate:</strong> {{ carDetails.licensePlate }}</p>
      <p><strong>Registration Number:</strong> {{ carDetails.registrationNumber }}</p>
      <p><strong>Year of Manufacture:</strong> {{ carDetails.yearOfManufacture }}</p>
      <p><strong>Tank Capacity:</strong> {{ carDetails.tankCapacity }} L</p>
      <p><strong>View Count:</strong> {{ carDetails.viewCount }}</p>
      <p><strong>Current Mileage:</strong> {{ carDetails.currentMileage }} km</p>
      <p><strong>Price per Day:</strong> ${{ carDetails.pricePerDay | number:'1.2-2' }}</p>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <button type="button" class="btn btn-primary" (click)="openBookCarPanel()">Book Now</button>
    </div>
  </div>

  <app-rent-now *ngIf="isSidePanelOpen" [carDetails]="carDetails" (closePanel)="closeSidePanel()"></app-rent-now>

  <div *ngIf="carDetails.reviews?.length" class="car-reviews">
    <h3>Customer Reviews</h3>
    <ul>
      <li *ngFor="let review of carDetails.reviews" class="review-item">
        <strong>{{ review.user }}:</strong> {{ review.comment }}
      </li>
    </ul>
  </div>

  <!-- Add Review Form -->
  <div class="add-review-form bg-dark text-white shadow-sm border-0">
    <h4>Add Your Review</h4>
    <form (ngSubmit)="submitReview()">
      <div class="mb-3">
        <label for="user" class="form-label text-warning">Your Name</label>
        <input type="text" id="user" class="form-control" [(ngModel)]="newReview.user" name="user" required>
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label text-warning">Your Review</label>
        <textarea id="comment" class="form-control" [(ngModel)]="newReview.comment" name="comment" rows="4"
          required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!newReview.user || !newReview.comment">Submit
        Review</button>
    </form>
  </div>

  <div *ngIf="carDetails.reviews?.length === 0" class="no-reviews">
    <p>No reviews available.</p>
  </div>
</div>