<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Cars</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav> -->
<!-- Navbar -->
<header>
<nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
    <div class="container-fluid">
        <a class="navbar-brand" href="#!">WayToGo</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Contact us</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" [routerLink]="['/login']">LogIn</button>
            </ul>
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->

<!--Section: Design Block-->
<section>
    <div id="intro" class="bg-image" style="
          background-image: url('https://th.bing.com/th/id/R.5506c15b19318a936c69161a86883a51?rik=Ns6JtFrm%2bUEdSw&riu=http%3a%2f%2fpictures.dealer.com%2fh%2fhondaofclearlake3%2f1503%2f3fb09c83fb9bdd667316c77814064aa5x.jpg&ehk=SHRWIZzHT%2f6MQcXEyrsfF%2f0tyNyLSlzibB8BdbYDOrY%3d&risl=&pid=ImgRaw&r=0');
          background-size: cover;
          background-position: center;
          height: 100vh; 
          width: 100%; 
        ">
    </div>
</section>
<!--Section: Design Block-->
</header>

<main>
    <div class="container my-5 py-5"></div>
</main>