<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#!">WayToGo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Contact Us</a>
          </li>
        </ul>

        <div>
          <div *ngIf="!isLoggedIn">
            <button type="button" class="btn view-cars-btn m-2" [routerLink]="['/login']">Login</button>
            <button type="button" class="btn highlight" [routerLink]="['/register']">Register</button>
          </div>
          <div *ngIf="isLoggedIn">
            <button type="button" class="btn btn-success" [routerLink]="['/profile']">Hi, {{ userName }}</button>
            <button type="button" class="btn btn-secondary m-2" (click)="toggleLoginLogout()">Logout</button>

            <!-- Notification Dropdown Button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary position-relative" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="toggleDropdown()">
                <i class="bi bi-bell"></i>
                <span *ngIf="unreadCount > 0"
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ unreadCount
                  }}
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>
              <ul class="dropdown-menu">
                <li *ngFor="let notification of notifications">
                  <a class="dropdown-item" href="#" *ngIf="!notification.isRead"
                    (click)="markAsRead(notification.notificationId)">
                    {{ notification.message }}
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" (click)="viewAllNotifications()">View All</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>